.header-link {
    display: block;
    padding: 0.5rem 1rem;
    color: rgb(193, 221, 138);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.header-link.active {
    color: rgb(193, 221, 138);
}

.custom-navbar-brand-link {
    text-decoration: none;
    color: rgb(193, 221, 138);
}

.custom-navbar-brand-link:hover {
    color: rgb(193, 221, 138);
}